.principal {
    margin: 100px 0 0 200px;
  }
  
  .linha {
    width: 100%;
    height: 60px;
  }
  
  .um,
  .dois,
  .três,
  .quatro,
  .cinco {
    margin: 10px 0 0 0;
  }
  
  button {
    color: white;
    font-weight: 500;
    width: 55px;
    height: 55px;
    background: black;
    font-size: 15px;
    margin-left: 5px;
    border-radius: 20%;
  }
  
  
  .back {
    width: 148px;
    border-radius: 10px;
  }
  
  .tab {
    width: 115px;
    border-radius: 10px;
  }
  
  .slace {
    width: 90px;
  }
  
  .cap {
    width: 96px;
    border-radius: 10px;
  }
  
  .enter-btn {
    width: 109px;
    border-radius: 10px;
  }
  
  .shift {
    width: 135px;
    border-radius: 10px;
  }
  
  .last {
    width: 56px;
    border-radius: 10px;
  }
  
  .space {
    width: 398px;
    border-radius: 10px;
  
  }
  
  .botao-clicado
  {
    background-color: green;
  }